.Canvas {
  position: relative;
  height: 500px;
  background-color: antiquewhite;
  overflow: hidden;
}

.emoji {
  position: absolute;
  left: -100px;
}

.moveButton {
  margin: auto;
  width: auto;
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countButton {
  margin: auto;
  width: auto;
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.endgameContainer {
  display: grid;
  border: solid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "question question timer"
    ". counter ."
    "countButton countButton countButton";
}
.question {
  grid-area: question;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  border: solid;
}
.timer {
  grid-area: timer;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  border: solid;
}
.countButton {
  grid-area: countButton;
  border: solid;
}
.counter {
  grid-area: counter;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  border: solid;
}

body {
  background-color: antiquewhite;
}
